/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); */
@font-face {
  font-family: 'Nexa-Bold';
  src: url('../assets/fonts/Nexa-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  background-color: #d1d7d4;
  background-color: #fff;
}

.container {
  max-width: 500px;
  width: 100%;
  position: relative;
  transform: translateY(-25px);
}

.container .brand {
  height: 50px;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #00bfa5;
  background-color: #3329ff;
  color: #fff;
  padding: 0.75rem 1rem;
}
.container .brand .brand-link {
  font-family: 'Nexa-Bold';
  text-decoration: none;
  color: inherit;
  margin: auto;
}

.container .stats {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.main_view {
  height: 500px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.main_view h1 {
  font-size: 1rem;
  margin: 0;
}
.main_view .download {
  cursor: pointer;
  width: max-content;
}
.main_view .download:active {
  opacity: 0.5;
}

.main_view .download svg {
  fill: #fff;
  fill: #222;
}

.main_view .message {
  max-width: 70%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.main_view .date {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #3329ff;
  color: #fff;
  margin: 0 auto;
}
.main_view .message.rigth .date {
  left: initial;
  right: 265px;
  transform: translateX(100%);
}

.main_view .message .user {
  font-size: 0.75rem;
  color: #3329ff;
  font-weight: 700;
  line-height: 1rem;
}
.main_view .message .text {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-right: 3.5rem;
}
.main_view .message .time {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.75rem;
  color: #555;
}
.main_view .message.rigth {
  margin-left: auto;
}

/* CONTROLS */
.container .controls {
  height: 50px;
  background-color: #040435;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(50px);
  transition: height 0.2s ease-in-out;
}
.container .controls > div {
  width: 100%;
}

.container .controls .file_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040435;
  z-index: 1;
}
.container .controls .file_upload form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .controls .file_upload .file {
  position: absolute;
}

.container .controls .file_upload input {
	opacity: 0;
	/* overflow: hidden; */
	position: absolute;
	z-index: -1;
}
.container .controls .file_upload label svg,
.container .controls .file_upload label {
  cursor: pointer;
  width: 100%;
  height: 50px;
  max-height: 100%;
  border: 0.25rem transparent solid;
}
.container .controls .file_upload label svg {
  border: 0.15rem transparent dashed;
}
.container .controls .file_upload:active label svg {
  opacity: 0.5;
}

.container .controls .file_upload form {
  padding: 0.5rem;
}
.container .controls.active {
  height: 250px;
}
.container .controls.active .file_upload label {
  border: 0.15rem #fff dashed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */
.modal {
  font-family: 'Nexa-Bold';
  position: absolute;
  background-color: #fff;
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
  inset: 0;
  width: 500px;
  max-width: 100%;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal.dnone {
  display: none;
}

.modal > h1 {
  text-align: center;
  font-size: 1.25rem;
  margin: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3329ff;
}

.modal .messages {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1rem;
}
.modal .messages > p {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
}
.modal .messages > p span:last-child {
  text-align: right;
}

.modal .messages .bar {
  width: 100%;
  
  border: 1px solid #040435;
  height: 100%;
  max-height: 1.3rem;
  position: relative;
}
.modal .messages .bar .amount {
  height: 100%;
  max-height: 1.3rem;
  background-color: #3329ff;
}

.modal .dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.modal .dates > p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.modal .activity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.modal .activity > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .activity p {
  font-size: 0.75rem;
  text-align: center;
}

.modal .activity .bar {
  width: 1.3rem;
  height: 200px;
  border: 1px solid #040435;
  position: relative;
  display: flex;
  margin: auto;
}
.modal .activity .bar .amount {
  width: 100%;
  margin-top: auto;
  height: 100%;
  background-color: #3329ff;
}
.modal .activity .bar .percent {
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(calc(-100% - 0.25rem)) translateY(-50%);
}

@media(max-width: 500px) {
  body {
    align-items: flex-start;
  }
  .container {
    transform: translateY(0);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
  }
  .modal {
    margin-top: 50px;
    height: calc(100vh - 100px);
  }
  .main_view {
    flex: 1;
  }
}