/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); */
@font-face {
  font-family: 'Nexa-Bold';
  src: url('/assets/fonts/Nexa-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  background-color: #d1d7d4;
  background-color: #fff;
}

.container {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.container .users {
  height: 50px;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #00bfa5;
  background-color: #3329ff;
  color: #fff;
  padding: 0.75rem 1rem;
}

.main_view {
  height: 500px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.main_view .message {
  max-width: 70%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.main_view .message .text {
  font-size: 0.95rem;
  line-height: 1.5rem;
  flex: 1;
  margin-right: 3.5rem;
}
.main_view .message .time {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.75rem;
  color: #555;
}
.main_view .message.rigth {
  margin-left: auto;
}

.container .controls {
  height: 50px;
  background-color: #273443;
  background-color: #040435;
  display: flex;
  justify-content: center;
}
.container .controls > div {
  width: 100%;
}

/* #drop-area */
.container .controls .file_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273443;
  background-color: #040435;
}
.container .controls .file_upload form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .controls .file_upload .file {
  position: absolute;
}

.container .controls .file_upload input {
	opacity: 0;
	/* overflow: hidden; */
	position: absolute;
	z-index: -1;
}
.container .controls .file_upload label svg,
.container .controls .file_upload label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0.25rem transparent solid;
}
.container .controls .file_upload label svg {
  padding: 0.5rem;
  border: 0.15rem transparent dashed;
}
.container .controls .file_upload:active label svg {
  opacity: 0.5;
}
.container .controls .file_upload.active label svg {
  border: 0.15rem #fff dashed;
}

.brand {
  font-family: 'Nexa-Bold';
  text-decoration: none;
  color: inherit;
  margin: auto;
}