/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}

.main_view {
  height: 500px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  overflow-y: auto;
}

.main_view .message {
  max-width: 70%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.main_view .message .text {
  font-size: 0.95rem;
  line-height: 1.5rem;
  flex: 1;
  margin-right: 3.5rem;
}
.main_view .message .time {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.75rem;
  color: #555;
}
.main_view .message.rigth {
  margin-left: auto;
}

